# Entornos virtuales
.venv/
__pycache__/
*.pyc
*.pyo

# Variables de entorno reales (nunca subir al repo)
.env

# VS Code
.vscode/

# Python build
*.egg-info/
dist/
build/

#Carpetas
uploads/

# OS
Thumbs.db
Desktop.ini
.DS_Store
